header {
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}


section {
  padding: 20px;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
